html {
  background-color: black;
}

nav {
  display: flex;
  justify-content: center;
  background: black;
  flex-wrap: wrap;
}
.none {
  display: none;
}
.link {
  padding: 10px 50px;
  text-decoration: none;
  color: #32E515;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  align-self: center;
  text-transform: uppercase;
  font-size: 22px;
}
.logocat {
  margin-right: 100px;
}
.home {
  display: flex;
  flex-direction: column;
}
.slide {
  display: flex;
  flex-wrap: wrap;
}
.arrow {
  display: flex;
  align-self: center;
  background: black;
  justify-content: center;
  margin-top: 30px;
  }
.btn {
  background: black;
  padding: 10px;
  border: none;
}
.cont {
  display: flex;
  justify-content: center;
}
p {
  margin: 0;
}
.slogan {
  font-family: 'Poppins', sans-serif;
  color: #32E515;
}
.reserv {
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 24px;
  padding: 15px;
  
}
.text {
padding-left: 100px;
padding-right: 100px;
font-family: 'Poppins', sans-serif;
}
.red {
  color: red;
}
.col {
  display: flex;
  flex-direction: column;
  }
.time {
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 24px;
  align-self: center; 
  background: rgb(5, 5, 5) radial-gradient(150% 100% at 50% 5px, rgba(255,255,255,.2), rgba(0,0,0,0));
  box-shadow: inset rgba(0,0,0,.6) 0 -2px 5px, inset rgba(252,255,255,.7) 0 2px 5px, rgba(0,0,0,.8) 0 2px 5px -1px; 
  padding: 10px;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  border-top: 1px grey solid;
  padding-top: 10px;
  padding-bottom: 10px;
  flex-wrap: wrap;
}
.foottext {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  align-self: center;
  color: white;
}
.btnShow {
  border: none;
  color: #32E515;
  background: black;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
}

.redmenu {
  color: red;
}

.about {
  display: flex;
  flex-direction: column;
}
.header {
  color: white;
  font-family: 'Poppins', sans-serif;
}
.box {
  margin-top: 30px;
  text-align: center;
}
.card {
    width: 345px;
    height: 425px;
    margin: 25px;
    background: rgb(5, 5, 5) radial-gradient(150% 100% at 50% 5px, rgba(255,255,255,.2), rgba(0,0,0,0));
    box-shadow: inset rgba(0,0,0,.6) 0 -2px 5px, inset rgba(252,255,255,.7) 0 2px 5px, rgba(0,0,0,.8) 0 2px 5px -1px;
  }
  .choice {
    background-color: white;
    color: black;
    margin: 10px;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: bold;
    width: 200px;
  }
.btns {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.food {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  

}
.card-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mealname {
  color: #32E515;
  font-family: 'Poppins', sans-serif;
}
.descr {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  margin: 20px;
  text-align: center;
}
.addition {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  margin: 20px;
  text-align: center;
}
.price {
  color: red;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  margin-top: 20px;
  text-align: center;
}

.contactbox {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.contactcont {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background: rgb(5, 5, 5) radial-gradient(150% 100% at 50% 5px, rgba(255,255,255,.2), rgba(0,0,0,0));
  box-shadow: inset rgba(0,0,0,.6) 0 -2px 5px, inset rgba(252,255,255,.7) 0 2px 5px, rgba(0,0,0,.8) 0 2px 5px -1px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 30px;
  margin-top: 30px;
  
  }

.label {
  margin-top: 10px;
  display: flex;
  font-size: 18px;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  color: white;
}
input {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  padding: 10px;
}
.inputtext {
  flex: 1;
  margin-left: 20px;
  border: none;
}
.send {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.submit {
  align-items: center;
  background: rgb(27, 142, 38) radial-gradient(150% 100% at 50% 5px, rgba(255,255,255,.2), rgba(0,0,0,0));
  box-shadow: inset rgba(0,0,0,.6) 0 -2px 5px, inset rgba(252,255,255,.7) 0 2px 5px, rgba(0,0,0,.8) 0 2px 5px -1px;
  font-size: 20px;
  border: none;
  color: white;
  width: 180px;
  font-family: 'Poppins', sans-serif;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px 30px;
}

  @media (max-width: 1024px) {
    .link {
      padding: 10px 20px;
      font-size: 22px;
    }
    .pinkimg {
      width: 900px;
    }
  }

  @media (max-width: 912px) {
    .homeimg {
      width: 600px;
    }
    .pinkimg {
      width: 600px;
    }
    .choice {
      margin: 10px;
      border: none;
      font-size: 16px;
      width: 120px;
    }
  }

  @media (max-width: 820px) {
    .catimg {
      width: 300px;
    }
  }

  @media (max-width: 768px) {
    .homeimg {
      width: 400px;
    }
    .pinkimg {
      width: 600px;
    }
    .link {
      padding: 10px 20px;
      font-size: 16px;
    }
    .choice {
      margin: 10px;
      border: none;
      font-size: 16px;
      width: 120px;
    }
  }

  @media (max-width: 540px) {
  .link {
    font-size: 14px;
  }
  .homeimg {
    width: 340px;
  }
  .logocat {
    margin-right: 20px;
    width: 80px;
  }
  .arrowimg {
    width: 40px;
  }
  .slogan {
   font-size: 20px;
  }
  .reserv {
    font-size: 16px;
  }
  .text {
    font-size: 14px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .btnShow {
    font-size: 14px;
  }
  .time {
    font-size: 16px;
  }
  .pawimg {
    width: 70px;
  }
  .greenimg {
    width: 60px;
  }
  .foottext {
    font-size: 12px;
  }
  .pinkimg {
    width: 420px;
  }
  .header {
    font-size: 18px;
  }
}

@media (max-width: 450px) {
  .homeimg {
    width: 280px;
  }
  .arrowimg {
    width: 30px;
  }
  .slogan {
    font-size: 16px;
  }
  nav {
    flex-direction: column;
  }
  .logocat {
    margin-right: 0;
  }
  .reserv {
    font-size: 14px;
  }
  .text {
    font-size: 12px;
  }
  .btnShow {
    font-size: 12px;
  }
  .pinkimg {
    width: 360px;
  }
  .contactcont {
    width: 300px;
  }
  .formcontainer{
    width: 280px;
  }

  .label {
    flex-wrap: wrap;
  }
  .inputtext {
    margin-left: 10px;
    width: 280px;
  }
}

@media (max-width: 393px) {
  .homeimg {
    width: 260px;
  }
  .arrowimg {
    width: 20px;
  }
  .label {
    font-size: 14px;
  }
  input {
    font-size: 12px;
  }
  .submit {
    font-size: 18px;
  }
  .catimg {
    width: 280px;
  }
  
}

@media (max-width: 320px) {
  .logocat {
    width: 40px;
  }
  .homeimg {
    width: 200px;
  }
  .reserv {
    font-size: 12px;
  }
  .text {
    font-size: 12px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .time {
    font-size: 12px;
  }
  .pinkimg {
    width: 260px;
  }
  .label {
    font-size: 12px;
  }
  input {
    font-size: 10px;
  }
  .submit {
    font-size: 14px;
  }
  .catimg {
    width: 220px;
  }
  .card {
    height: 500px;
  }
  .contactcont {
    width: 280px;
  }
  .formcontainer{
    width: 260px;
  }
}
